#if (${classMetaModel.packageName})
package ${classMetaModel.packageName};
#end

public class ${classMetaModel.className} {
#foreach( $f in ${classMetaModel.fieldMetaModels} )
	private ${f.typeName} ${f.fieldName};
	public void set$displayTool.capitalize(${f.fieldName})(${f.typeName} ${f.fieldName}){
		this.${f.fieldName} = ${f.fieldName};
	}
#if (${f.typeName} == "boolean")
#set($getter = "is")
#elseif (${f.typeName} == "java.lang.Boolean")
#set($getter = "is")
#else
#set($getter = "get")
#end
 	public ${f.typeName} ${getter}$displayTool.capitalize(${f.fieldName})(){
		return ${f.fieldName};
	}  	    
#end
}